Repository Glutexo/onigumo, pull requests merged in 2025-04, with the labels that each got.

#238 Implement switch -h, --help to CLI
  lib/cli.ex
  test/onigumo_cli_test.exs
Labels: cli

#260 Valid switches with args didn’t fail
  lib/cli.ex
Labels: bug, cli

#242 Split cli messages to case with invalid usage and help message
  lib/cli.ex
  test/onigumo_cli_test.exs
Labels: cli

#274 Run CI with os matrix
  .github/workflows/elixir.yml
Labels: ci
